<h4 style="text-align: center; color: #191970;">Edit Team</h4>
<%= form_for @team do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, id: :team_name %>
  </div>


  <div class="form-group">
    <div class="actions">
      <%= link_to_add_association 'Add Player', f, :players, class: 'btn btn-primary', data: { association_insertion_node: '.players', association_insertion_method: :append } %>
      <span style="color: grey;">Click this button repeatedly to add more or players!</span>
    </div>
    <div class="players">
      <p style="margin-bottom:20px;">
        <%= f.fields_for :players do |builder| %>
          <%= render 'player_fields2', f: builder %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




