

<div class="panel">
	<h4 style="text-align: center; color: #191970;">Your Tournaments</h4>
	<% unless @tournaments.blank? %>
	  <% @tournaments.each do |tournament| %>    	
      <div class="row tournaments">
        <h4 id="team">
          <% unless tournament.image.blank? %>
        	  <span class="tournament_logo"><%= image_tag tournament.image.url(:small) %></span> 
          <% end %>
        	<span><%= link_to tournament.name, tournament %></span>
	        <span style="font-size: large; color: #1E90FF; float: right;"><%= link_to 'Delete', tournament, class: "btn btn-default" ,method: :delete, data: { confirm: 'Are you sure?' } %></span>
	        <span style="font-size: large; color: #1E90FF; float: right;"><%= link_to 'Edit', edit_tournament_path(tournament), class: "btn btn-default" %></span>
        </h4>
        <hr>
		    <% tournament.teams.each do |team| %>
		    	<p id="team-player">

            <span><strong><%= link_to team.name, edit_team_path(team) %></strong></span>
		    		<span><%= link_to "Edit", edit_team_path(team) %></span>
		    	</p>
		    <% end %>
      </div>
	  <% end %>
	<% end %>
  <% if @tournaments.blank? %>
  	<hr>
     <h4> You have not added a tournament yet </h4>
  <% end %>
  <div class="row"><%= will_paginate @tournaments   %></div>

</div>

