<div class="update_match">
  <%= form_with(model: pair, local: true) do |form| %>
    <% if pair.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(pair.errors.count, "error") %> prohibited this pair from being saved:</h2>

        <ul>
        <% pair.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <h4><%= @home.name %></h4>
        <hr>
        <%= form.label :score %>
        <%= form.number_field :score_home, :required => true, class: "form-control"  %>
        <p id="round_name_field"> <%= form.number_field :home, id: :pair_home %></p>
      </div>
    </div>
    <div class="col-md-4 vs">
      <div class="btn btn-warning">
        <h4 style="text-align: center;">VS</h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <h4><%= @away.name %></h4>
        <hr>
        <%= form.label :score %>
        <%= form.number_field :score_away, :required => true, class: "form-control"  %>
        <p id="round_name_field"><%= form.number_field :away, id: :pair_away %></p>
      </div>
    </div>
  </div>


    


    <% if !pair.ended %>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% else %>
      <h4>Match Marked as Completed</h4>
    <% end %>
  <% end %>
</div>