<p id="notice"><%= notice %></p>

<p>
  <strong>Home:</strong>
  <%= @pair.home %>
</p>

<p>
  <strong>Away:</strong>
  <%= @pair.away %>
</p>

<p>
  <strong>Round:</strong>
  <%= @pair.round %>
</p>

<%= link_to 'Edit', edit_pair_path(@pair) %> |
<%= link_to 'Back', @pair.round.tournament  %>
