<div class="nested-fields">

  <div class="form-group">
    <div class="row update-scores">
      <div class="col-xs-3"> 
        <span style="float: right; margin-right: 10px;"><strong><%= f.object.home_team %></strong></span>
      </div>



      <div class="col-xs-3 score_update">
        <span>
          <% if f.object.ended %>
            <%= f.number_field :score_home, :readonly => true %> 
          <% else %>
            <%= f.number_field :score_home, min: 0  %>    
          <% end %>            
        </span>
      </div>
      <div class="col-xs-3 score_update">
        <span>   
          <% if f.object.ended %>
            <%= f.number_field :score_away, :readonly => true %> 
          <% else %>
            <%= f.number_field :score_away, min: 0 %>    
          <% end %>      
        </span>
      </div>

      <div class="col-xs-3">
        <p>
          <span style="float: left; margin-left: 10px;"><strong><%= f.object.away_team %></strong></span>
        </p>
      </div>
    </div>

  </div>  
</div>