<div class="row header">
	<div class="col-md-4">
		<h3 id="logo">
      <span><strong><%= link_to "TOURNAMENT", root_path %></strong></span>
      <span style="margin-left: -7px; font-size: large;"><%= link_to "CENTER", root_path %></span>
      
    </h3>
	</div>

  <div class="col-md-4 search">
    <%= form_tag tournaments_path, :method => 'get', class: "my_search" do %>
      <%= text_field_tag :search, params[:search] ,class: "search_field" %>
      <input type="submit" name="commit" value="Search" data-disable-with="Search">
    <% end %>
  </div>
	<div class="col-md-4 header-left">
		<h5 id="register-sign-up">
			
        <% if user_signed_in? %>
           <%= link_to "Account" , edit_user_registration_path %> /
           <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_registration_path, class: "active" %> /
          <%= link_to "Sign In ", new_user_session_path, class: "active" %>
        <% end %>
		</h5>
	</div>

</div>

<div class="row main-menu">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>      

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav top-left">
            <li><%= link_to "Home", root_path %></li>
            <li> <%= link_to "New Tournament" , new_tournament_path %></li>
            <li> <%= link_to "Tournaments", tournaments_path %></li>
            <li> <%= link_to "My Tournaments", my_tournaments_path %></li>
          </ul>
      </div>
    </div>
  </nav> 
</div>